<!DOCTYPE html>
<html>
<head>
  <title>Déconnexion réussie</title>
</head>
<body>

<h1>Déconnexion réussie</h1>
<p>Vous êtes bien déconnecté.</p>

<a href="<%= root_path %>">Retour à la page d'accueil</a>

</body>
</html>